/* CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font-family: 'Cantata One', serif; */

/* GRID STRUCTURE */
body {

  height: 100%;
  display: grid;
  width: 100vw;
  height: 110vh;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% 100% 5%;
}

.main-container {
  background-image: url("../images/linedpaper.png");
  background-size: cover;
  grid-column: 2/ span 1;
  grid-row: 2/span 1;

  display: grid;
  grid-template-columns: 13vw 63vw 14vw;
  grid-template-rows: 12vw;
  /* background: yellow; */
  -ms-transform: rotate(-4deg); /* IE 9 */
  -webkit-transform: rotate(-4deg); /* Safari 3-8 */
  transform: rotate(-4deg);
  border: 1px solid red;
}

/* Header styles  */
.home-header {
  grid-column: 2/ span 1;
  grid-row: 1/span 1;
  align-self: end;
  background: none;
  font-family: 'Cantata One', serif;
  /* border: 1px solid black; */
}
h1 {
  font-size:3vw;
}
h2 {
  visibility: hidden;
  height: 0px;
}
#greeting {
  font-size:2vw;
}
 /* - - - - - - - - -  */


/* Content and Navigation */

.center-container {
  padding: 2vh;
  background: none;
  grid-column: 2/ span 1;
  grid-row: 2/span 1;
}

/* link styles */

li {
  position: relative;
  border: 1px red;
  top:1vw;
  height: 3vw;
  width: 3vw;
  margin: 2vw;
}

a {
  background: white;
  border: 1px red solid;
  padding: 1vw;
  font-size: 2vw;
}

a.exhibitions:link {
  color: #4400f2;
}
a.exhibitions:visited {
  color: black;
}
a.exhibitions:hover {
  color: blue;
}

a.websites:link {
  color: #c60000;
}
a.websites:visited {
  color: black;
}
a.websites:hover {
  color: blue;
}

a.projects:link {
  color: #ff7700;
}
a.projects:visited {
  color: black;
}
a.projects:hover {
  color: blue;
}

/* Footer styles */
.location {
  position: relative;
  top: 5vw;
  padding: 2vw;
  background: white;
  border: 1px red solid;

}
